audio.???
*.o
spettro
core
tags
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
config.guess
config.sub
configure.h*
ltmain.sh
stamp-h1
test-driver
